[submodule "nodejs"]
	path = nodejs
	url = git@github.com:kahunacoder/nodejs.git
[submodule "sublime"]
	path = sublime
	url = git@github.com:kahunacoder/sublime.git
[submodule "gems"]
	path = gems
	url = git@github.com:kahunacoder/gems.git
[submodule "webgrind"]
	path = webgrind
	url = git@github.com:kahunacoder/webgrind.git
